.contato {
  background-color: rgb(87, 81, 81);
}
    
.title-img-container {
  padding: 5px;
  flex-direction: column;
}

.title-contatos {
  font-size: 20px;
  line-height: 3;
  font-family: 700px;
  color: white;
  text-align: center;
  background-color: rgb(80, 75, 80);
}

.icons-heart {
  text-align: center;
  color: white;
  margin-top: 15px;
}
  